/1-30-24
/1-31-24
/2-1-24
/2-14-24
/2-19-24
/2-2-24
/2-20-24
/2-26-24
/2-3-24
/2-5-24
/2-6-24
/2-7-24
/2-9-24
/2.Hiking vs.docx
/2.Hiking vs_formatted.docx
/3.Hiking Essentials.docx
/3.Hiking Essentials_formatted.docx
/4.How to Choose a Backpacking Tent.docx
/4.How to Choose a Backpacking Tent_formatted.docx
/5.types of backpacking tents.docx
/5.types of backpacking tents_formatted.docx
/7.backpacking tent weight.docx
/7.backpacking tent weight_formatted.docx
/Anchor Text GPT Comand Geerator.xlsx
/arbitrary.docx
/arbitrary_formatted.docx
/arbitrary_formmated
/Chat with ChatGPT.ipynb
/copied_text.txt
/how to pitch a tent.txt
/myfile.txt
/New folder
/Physical Benefits of Hiking
/p_counts.xlsx
/REVIEW-Big Agnes Fly Creek Tent.docx
/REVIEW-Big Agnes Fly Creek Tent_formatted.docx
/REVIEW-Geertop 2-3 Person Camping Tent.docx
/REVIEW-Geertop 2-3 Person Camping Tent_formatted.docx
/REVIEW-response.docx
/REVIEW-response_formatted.docx
/scraping
/types of tents.txt
/Untitled-1.ipynb
/word document formating.ipynb